---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img
            src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}"
            alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
      <br />
      <br />
      <div>
        <a href="{{site.baseurl}}/tags">Tag list</a><br />
        <a href="{{site.baseurl}}/about">About</a>
      </div>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social-twitter %}
        <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter"
              aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-facebook %}
        <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fa fa-facebook"
              aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
        <li class="github"><a href="https://github.com/{{site.social-github}}" target="_blank"><i
              class="fa fa-github"></i></a></li>
        {% endif %}
        {% if site.social-gitlab %}
        <li class="gitlab"><a href="https://gitlab.com/{{site.social-gitlab}}" target="_blank"><i
              class="fa fa-gitlab"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i
              class="fa fa-linkedin"></i></a></li>
        {% endif %}
        {% if site.social-email %}
        <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% endif %}
        {% if site.social-wordpress %}
        <li class="wordpress"><a href="https://{{site.social-wordpress}}"><i class="fa fa-wordpress"></i></a></li>
        {% endif %}
        <li class="feed"><a href="{{ baseurl }}/feed.xml"><i class="fa fa-rss"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} <i class="fa fa-creative-commons"></i> {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>